#testCalendar{
    position: absolute;
    top: 200px;
    left: 200px;

}

ul{
    list-style: none;
}
li{
    margin: auto;
}

#firstWeek1st{
    display: flex;
    flex-wrap: wrap;
}


.firstweek{
    flex: 1;
    display: inline-block; 
    background-color: tomato;
    /*margin-right: 20px;  add spacing between items */
    padding: 10px;
}

.firstweek:hover {
    background-color: #938482;
}

#day1{
    list-style-position:inside;
    border: 1px solid black;
   
}

#dayObj{
    width: 100px;
    height: 80px;
    justify-content:space-around;
}









/*   */

#testDay{
    width: 100px;
    height: 80px;
}
.testweek{
    /*display: inline-block; */
    list-style: none;
    flex: 0 0 23.333333%;
    background-color: gold;
    list-style-position:inside;
    border: 1px solid black;
}

#testListContainer{
    position: absolute;
    top: 500px;
    left: 200px;
}

#testListContainer ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}