body{
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color: bisque;
}
:picture-in-picture :hover{
    background-color: azure;
}
#cotainer{
    position: absolute;
    top: 50vw;
    left: 50vh;
}

#target{
    width: 300px;
    /* if we need user to never get control of the video then this will be needed display: none; */
    position: relative;
   
}

#pip{
    position: relative;
    background-color: cadetblue;
}

#canvas2d{
    display: none;

}