<!DOCTYPE html>
<head>


</head>
<body>

    <div id="background">
        <div class="container">
            <form action="/register" method="post">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" id="uname" required>

                <label for="psw"><b>password</b></label>
                <input type="text" placeholder="Enter password" name="psw" id="psw" required>

                <label for="pswConfirm"><b>confirm password</b></label>
                <input type="text" placeholder="Please confirm password" name="pswConfirm" id="pswConfirm" required>

                <label for="email"><b>email address</b></label>
                <input type="text" placeholder="Enter email" name="email" id="email" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

</body>